input[type="text"],button,label {
    border-radius: 10px;
    margin-left: 10em;
    font-weight: 600;
} 
.text{
  /* border: 1px solid red; */
  position: absolute;
  top: 11%;
  left: 17em;
}
form{
  /* border: 1px solid red; */
  width: 40%;
  position: absolute;
  top: 20%;
  left: 30%;
  background-color: #fafafa;
}
