<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h3 class="maintenance">this page is under maintenance</h3>
    <img src="https://tse1.mm.bing.net/th/id/OIP.GJZvtdCxwVXTMMbEMZIzAQHaFj?pid=ImgDet&rs=1" alt=""> -->
    <nav class="navBar">
        <div class="links"><a routerLink="/instituteTwo">Institute</a></div>
        <div class="links"><a routerLink="/courseTwo">Course</a></div>
        <div class="links"><a routerLink="/user">log out</a></div>
    </nav>
</body>
</html>